.modal-header
{
  border: none;
}

#logIn .modal-header
{
  text-align: center;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #d9534f;
}

#logIn .modal-title
{
  font-size: 2.5em;
  font-weight: bold;

  color: #fff;
}

#meta-data
{
  width: 1170px;
  margin: 0 auto;
}

.info-wrapper .modal-title
{
  font-size: 1.75em;

  margin-bottom: 10px;
}

.info-wrapper .modal-header,
.info-wrapper .modal-body
{
  padding: 0;
}

.info-wrapper .modal-header
{
  padding-top: 15px;
}

#meta-data h4
{
  margin-bottom: 0;
}

#meta-data hr
{
  margin-top: 10px;
}

.description-info
{
  margin-top: -15px;
}

#meta-data .description-poster img
{
  width: 340px;
  height: auto;

  border-radius: 6px;
}

.modal-body .col-lg-3
{
  padding-left: 0;
}

.glyphicon-option-vertical
{
  font-size: 21px;

  float: right;

  margin-top: -2px;

  opacity: .2;
  color: #000;
}
.glyphicon-option-vertical:hover,
.glyphicon-option-vertical:focus
{
  text-decoration: none;

  opacity: .5;
  color: #000;
}

.registration
{
  width: 450px;
  height: 600px;
  margin-top: 25px;
  padding: 25px;

  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #d9534f;
}

.errors
{
  color: #000;
}

.login-errors
{
  display: none;

  color: red;
}

.modal-lg
{
  width: 1050px;
}

.modal-header .description
{
  border-bottom: none;
}

#description-rating
{
  font-family: 'Times New Roman', serif;
  font-weight: bolder;

  padding: 1px 3px;

  border: 2px solid #333;
  border-radius: 3px;
}

#description-year
{
  font-size: 1.25em;

  padding-right: 5px;
}

.description-header
{
  border-bottom: 1px solid #eaeaea;
}

.description-details h5
{
  font-size: 1.1em;
}

.description-poster
{
  margin-bottom: 30px;
}

.description-poster img
{
  width: 300px;
  height: auto;

  border: solid 1px #e9e9e9;
  border-radius: 6px;
}

.filler
{
  height: 35px;
}

/*.description-info h4
{
  margin-bottom: 10px;
}

.description-info p.first
{
  margin-top: 0 !important;
}

.description-info p
{
  margin-top: -10px !important;
}

.description-info .col-lg-4
{
  margin-left: -40px !important;
}*/

.description-plot
{
  margin: 20px 0;
}

.edit-movie
{
  margin-top: 30px;
}

.edit-poster img
{
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

#delete-button
{
  margin-right: 15px;
  margin-bottom: 30px;
}

.confirmation
{
  position: relative;
}

.confirmation > span
{
  position: absolute;
  top: 35px;
  right: 10px;

  display: none;

  color: green;
}

.confirmation > span.match
{
  position: absolute;
  top: 35px;
  right: 10px;

  display: block;

  color: green;
}

#no-match
{
  color: #f00;
}

#no-match2
{
  color: #fff;
}

ul
{
  padding-left: 0;
}

li
{
  list-style: none;
}

.spacing
{
  margin-right: 20px;
}

#ratings-container
{
  position: relative;
  display: inline-block;
  top: 12px;
}
/*.rating,
.rated
{
  position: relative;
  top: -40px;
  right: 50px;
  float: right;
}*/

.rating:not(:checked) > input
{
  position: absolute;

  clip: rect(0,0,0,0);
}

.rating:not(:checked) > label
{
  font-size: 18px;
  line-height: 1.2;

  float: right;
  overflow: hidden;

  width: 1em;

  cursor: pointer;
  white-space: nowrap;

  color: #e4e4e4;
}

.rating:not(:checked) > label:before
{
  font-family:'Glyphicons Halflings';
  content: "\e006";
}

.rating > input:checked ~ label
{
  color: gold;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
{
  color: #ff0000;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label
{
  color: #ff0000;
}

/*.rating > label:active
{
  font-size: 19px;
  text-shadow: 1px 1px rgba(0,0,0,.25)
  color: gold;
}*/

.rated > .glyphicon-rating
{

  font-size: 18px;
  line-height: 1.2;

  float: right;
  overflow: hidden;

  width: 1em;

  white-space: nowrap;

  color: #e4e4e4;
}

.rated > span:before
{
  font-family:'Glyphicons Halflings';
  content: "\e006";
}

.rated > .glyphicon-rating.checked,
.rated > .glyphicon-rating.checked ~ .glyphicon-rating
{
  color: gold;
}

.rated p,
.rating p
{
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 95px;
  bottom: 2px;
  font-size: 9px;
}

@media (max-width: 768px)
{
  .modal-lg
  {
    max-width: 400px;
  }
}
