#movie-search
{
  width: 100%;
}

#poster
{
  width: 175px;
  height: auto;
}

#poster:hover
{
  box-shadow: 0 0 7px #f00;
}

#year
{
  margin: 0;
}

#genre
{
  margin: 0;
}

#search-boxes
{
  position: fixed;
  z-index: 1;
  top: 50px;

  padding: 1.5em;

  background: rgba(234, 234, 234, .97);
}

#add
{
  margin-right: 135px;
}

#search
{
  display: none;

  height: 34px;
  margin-right: 135px;
}

#preview
{
  position: relative;
  top: 50px;

  display: none;

  height: 300px;
  margin-bottom: 30px;
}

#dismiss
{
  display: block;

  text-align: center;
}

#dismiss .glyphicon
{
  color: #333;
}

#dismiss .glyphicon:hover
{
  color: #595959;
}

#create-movie textarea
{
  display: none;
}

#search-year
{
  top: -34px;
  right: -180px;

  display: none;

  width: 81px;
}

.index-preview
{
  margin-right: 1.17em;
}

.index-preview:nth-child(7n)
{
  margin-right: 0;
}

.index-preview img
{
  width: 153px;
  height: 221px;
  margin-top: 55px;
}

.top-preview img
{
  width: 100px;
  height: auto;
  margin-bottom: 55px;
}

.truncate
{
  overflow: hidden;

  width: 153px;
  margin: 0 auto;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.sort-name
{
  display: none;
}

.description
{
  display: none;
}

#movie-list
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  margin-bottom: 55px;
}

.index-user h4
{
  margin-bottom: 3px;

  color: #d9534f;
}

a.index-user:hover,
.index-user h4:hover
{
  text-decoration: none;

  color: #b9433b;
}
