<form id="show-search" class="form-inline" action="/shows/create" method="POST">
  <div class="input-group">
    <input id="search-title" type="text" class="form-control" name='query' value="" placeholder="TV Show Title">
    <span class="input-group-btn" id="search-btn">
      <input type="submit" class="btn btn-danger" value="Search">
    </span>
  </div>
</form>
