<form id="movie-search" class="form-inline pull-right" action="/movies/create" method="POST">
  <a id="more" href="#">add year</a>
  <div class="input-group">
    <input id="search-title" type="text" class="form-control" name='title' value="" placeholder="Movie Title">
    <input id="search-year" type="text" class="form-control" name="year" value="" placeholder="Year">
    <span class="input-group-btn">
      <input type="submit" class="btn btn-danger" value="Search">
    </span>
  </div>
</form>
