<div class="rated">
  <% if movie.get_average == 5 %>
    <span class="glyphicon-rating checked"></span>
  <% else %>
    <span class="glyphicon-rating"></span>
  <% end %>
  <% if movie.get_average == 4 %>
    <span class="glyphicon-rating checked"></span>
  <% else %>
    <span class="glyphicon-rating"></span>
  <% end %>
  <% if movie.get_average == 3 %>
    <span class="glyphicon-rating checked"></span>
  <% else %>
    <span class="glyphicon-rating"></span>
  <% end %>
  <% if movie.get_average == 2 %>
    <span class="glyphicon-rating checked"></span>
  <% else %>
    <span class="glyphicon-rating"></span>
  <% end %>
  <% if movie.get_average == 1 %>
    <span class="glyphicon-rating checked"></span>
  <% else %>
    <span class="glyphicon-rating"></span>
  <% end %>
</div>
<% if movie.ratings.count > 1 %>
  <p>Based on <%= movie.ratings.count %> User Ratings</p>
<% elsif movie.ratings.count == 1 %>
  <p>Based on <%= movie.ratings.count %> User Rating</p>
<% else %>
  <p>This Movie Has Not Been Rated</p>
<% end %>
