<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 top-preview text-center">
  <a href="/movies/2931/show">
    <img class="lazy" data-original="https://is3-ssl.mzstatic.com/image/thumb/Video122/v4/1f/32/7e/1f327ebc-5e22-2dff-6bcd-a6bf5f874f2c/source/1200x630bb.jpg" alt="The Godfather Poster" width="174" height="261" style="display: inline-block;" src="https://is3-ssl.mzstatic.com/image/thumb/Video122/v4/1f/32/7e/1f327ebc-5e22-2dff-6bcd-a6bf5f874f2c/source/1200x630bb.jpg">
  </a>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 top-preview text-center">
  <a href="/movies/1055/show">
    <img class="lazy" data-original="https://image.tmdb.org/t/p/w342/9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg" alt="The Shawshank Redemption Poster" width="174" height="261" style="display: inline-block;" src="https://image.tmdb.org/t/p/w342/9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg">
  </a>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 top-preview text-center">
  <a href="/movies/1033/show">
    <img class="lazy" data-original="https://image.tmdb.org/t/p/w342/yPisjyLweCl1tbgwgtzBCNCBle.jpg" alt="Schindler's List Poster"  width="174" height="261" style="display: inline-block;" src="https://image.tmdb.org/t/p/w342/yPisjyLweCl1tbgwgtzBCNCBle.jpg">
  </a>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 top-preview text-center">
  <a href="/movies/956/show">
    <img class="lazy" data-original="https://is1-ssl.mzstatic.com/image/thumb/Video2/v4/f7/b8/e1/f7b8e1a9-bae3-3284-d6cc-55ce0392c993/source/600x600bb.jpg" alt="Raging Bull Poster" width="174" height="261" style="display: inline-block;" src="https://is1-ssl.mzstatic.com/image/thumb/Video2/v4/f7/b8/e1/f7b8e1a9-bae3-3284-d6cc-55ce0392c993/source/600x600bb.jpg">
  </a>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 top-preview text-center">
  <a href="/movies/637/show">
    <img class="lazy" data-original="https://image.tmdb.org/t/p/w342/c414cDeQ9b6qLPLeKmiJuLDUREJ.jpg" alt="Jurassic Park Poster" width="174" height="261" style="display: inline-block;" src="https://image.tmdb.org/t/p/w342/c414cDeQ9b6qLPLeKmiJuLDUREJ.jpg">
  </a>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 top-preview text-center">
  <a href="/movies/187/show">
    <img class="lazy" data-original="https://is3-ssl.mzstatic.com/image/thumb/Video49/v4/e9/18/b1/e918b18d-8296-806b-2ee5-e0ca54facc67/source/600x600bb.jpg" alt="Casablanca Poster" width="174" height="261" style="display: inline-block;" src="https://is3-ssl.mzstatic.com/image/thumb/Video49/v4/e9/18/b1/e918b18d-8296-806b-2ee5-e0ca54facc67/source/600x600bb.jpg">
  </a>
</div>
