  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-9">
        <img id="main-logo" class="center-block" src="/imgs/logo.svg" alt="MMDb logo">
        <h3>Most Popular Movies</h3>
        <%= erb :'/partials/_top_movies', layout: false %>
        <h3>Recently Added Movies</h3>
        <% @movies.recently_added[0, 6].each do |movie| %>
          <%= erb :'/partials/_recent_movies', locals: { movie: movie }, layout: false %>
        <% end %>
      </div>
      <div class="col-sm-3">
        <% @users.movie_count.each do |user| %>
          <% if user.movies.count > 1 %>
            <%= erb :'/partials/_users', locals: { user: user }, layout: false %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div><!-- end row -->
</div>
