<div class="row">
  <div class="col-lg-12">
    <% if session[:user_id] %>
      <button id="add" class="btn btn-danger pull-right">Add Movie</button>
    <% end %>
    <div id="search" class="pull-right">
      <%= erb :'/partials/_add_movie', layout: false %>
    </div>
    <div id="preview">
      <%= erb :'/partials/_preview', layout: false %>
    </div>
  </div>
  <div class="row">
    <div id="movie-list" class="col-xs-12">
      <% @my_movies.each do |movie| %>
        <%= erb :'/partials/_my_movies', locals: {movie: movie, user: @user}, layout: false %>
      <% end %>
    </div>
  </div>
</div>

