de.modal
{
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-header
{
  border: none;
}

#logIn .modal-header
{
  text-align: center;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #d9534f;
}

#logIn .modal-title
{
  font-size: 2.5em;
  font-weight: bold;

  color: #fff;
}

#meta-data
{
  width: 1170px;
  margin: 0 auto;
}

.info-wrapper .modal-title
{
  font-size: 1.75em;

  margin-bottom: 10px;
}

.info-wrapper .modal-header,
.info-wrapper .modal-body
{
  padding: 0;
}

.info-wrapper .modal-header
{
  padding-top: 15px;
}

#meta-data h4
{
  margin-bottom: 0;
}

#meta-data hr
{
  margin-top: 10px;
}

.description-info
{
  position: relative;
}

#meta-data .description-poster img
{
  width: 340px;
  height: auto;

  border-radius: 6px;
  background-color: #000;
}

.modal-body .col-lg-3
{
  padding-left: 0;
}

.glyphicon-option-vertical
{
  font-size: 21px;

  float: right;

  margin-top: -2px;

  opacity: .2;
  color: #000;
}

#meta-data .close,
.close
{
  opacity: .2;
  color: #000;
}

.glyphicon-option-vertical:hover,
.glyphicon-option-vertical:focus,
#meta-data .close:hover,
#meta-data .close:focus,
.close:hover,
.close:focus
{
  text-decoration: none;

  opacity: .5;
  color: #000;
}

.registration
{
  width: 450px;
  height: 600px;
  margin-top: 25px;
  padding: 25px;

  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #d9534f;
}

.errors
{
  color: #000;
}

.login-errors
{
  display: none;

  color: red;
}

.modal-lg
{
  width: 1100px;
}

.modal-header .description
{
  border-bottom: none;
}

#description-rating
{
  font-family: 'Times New Roman', serif;
  font-weight: bolder;

  padding: 1px 3px;

  border: 2px solid #333;
  border-radius: 3px;
}

#description-hd
{
    background: #333;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bolder;
    position: relative;
    top: 1px;
}

#description-year
{
  font-size: 1.25em;

  padding-right: 5px;
}

.description-header
{
  border-bottom: 1px solid #eaeaea;
}

.description-details h5
{
  font-weight: 600;
}

.description-details a
{
  color: #333;
  text-decoration: none;
}

.description-details a:hover
{
  color: #c9302c;
}

.studio a
{
  color: #333;
  text-decoration: none;
}

.studio a:hover
{
  color: #c9302c;
}

#info-body {
  min-height: 575px;
}

.studio
{
  position: absolute;
  width: 770px;
  right: 0;
  bottom: 25px;
}

.studio h5
{
  font-weight: 600;
}

.studio p
{
  margin-top: -10px;
}

.description-poster
{
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

.description-poster img
{
  width: 300px;
  height: auto;

  border: none;
  border-radius: 6px;
  vertical-align: top;
}

a.magnifying-glass-icon
{
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 10em;
  opacity: 0;
}

.description-poster:hover .description-poster-overlay
{
  opacity: .75;
}

.description-poster:hover a.magnifying-glass-icon {
  color: #fff;
  opacity: .8;
}

.filler
{
  height: 35px;
}

.description-plot
{
  margin: 20px 0;
}

.edit-movie
{
  margin-top: 30px;
}

.edit-poster img
{
  width: 250px;
  height: auto;
  margin-left: -30px;
  border-radius: 4px;
}

.edit-form
{
  margin-right: -30px;
}

#delete-button
{
  margin-right: 15px;
  margin-bottom: 30px;
}

.confirmation
{
  position: relative;
}

.confirmation > span
{
  position: absolute;
  top: 35px;
  right: 10px;

  display: none;

  color: green;
}

.confirmation > span.match
{
  position: absolute;
  top: 35px;
  right: 10px;

  display: block;

  color: green;
}

#no-match
{
  color: #f00;
}

#no-match2
{
  color: #fff;
}

ul
{
  padding-left: 0;
}

li
{
  list-style: none;
}

.spacing
{
  margin-right: 20px;
}

#ratings-container
{
  position: absolute;

  display: inline-block;
}

.rating:not(:checked) > input
{
  position: absolute;

  clip: rect(0,0,0,0);
}

.rating:not(:checked) > label
{
  font-size: 18px;
  line-height: 1.2;

  float: right;
  overflow: hidden;

  width: .98em;

  cursor: pointer;
  white-space: nowrap;

  color: #e4e4e4;
}

.rating:not(:checked) > label:before
{
  font-family: 'Glyphicons Halflings';

  content: '\e006';
}

.rating > input:checked ~ label
{
  color: gold;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
{
  color: #f00;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label
{
  color: #f00;
}

.rated > .glyphicon-rating
{
  font-size: 18px;
  line-height: 1.2;

  float: right;
  overflow: hidden;

  width: 1em;

  white-space: nowrap;

  color: #e4e4e4;
}

.rated > span:before
{
  font-family: 'Glyphicons Halflings';

  content: '\e006';
}

.rated > .glyphicon-rating.checked,
.rated > .glyphicon-rating.checked ~ .glyphicon-rating
{
  color: gold;
}

.rated p,
.rating p
{
  font-size: 9px;

  position: absolute;
  left: 95px;

  display: inline-block;

  width: 200px;
  margin: 0;
}

.rated p
{
  bottom: 7px;
}

.rating p
{
  bottom: 12px;
}

.onoffswitch
{
  position: relative;

  width: 97px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox
{
  display: none;
}

.onoffswitch-label
{
  display: block;
  overflow: hidden;

  cursor: pointer;

  border: 2px solid #2b2b2b;
  border-radius: 20px;
}

.onoffswitch-inner
{
  display: block;

  width: 200%;
  margin-left: -100%;

  transition: margin .3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after
{
  font-size: 14px;
  /*font-weight: bold;*/
  line-height: 37px;

  display: block;
  float: left;

  box-sizing: border-box;
  width: 50%;
  height: 37px;
  padding: 0;

  color: white;
}

.onoffswitch-inner:before
{
  padding-left: 10px;

  content: 'Dark';

  color: #e4e4e4;
  background-color: #2b2b2b;
}

.onoffswitch-inner:after
{
  padding-right: 10px;

  content: 'Default';
  text-align: right;

  color: #2b2b2b;
  background-color: #e4e4e4;
}

.onoffswitch-switch
{
  position: absolute;
  right: 56px;

  display: block;

  width: 23px;
  height: 23px;
  margin: 7px;

  transition: all .3s ease-in 0s;

  border: 2px solid #2b2b2b;
  border-radius: 20px;
  background: #fff;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
{
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
{
  right: 0;
}

@media (max-width: 768px)
{
  .modal-lg
  {
    max-width: 400px;
  }
}
