img
{
  -webkit-transform: translate3d(0, 0, 0);
}

.info
{
  overflow: hidden;

  width: 100vw;
  max-height: 0;
  margin-top: -16px;
  margin-right: calc(-50vw + 50%);
  margin-left: calc(-50vw + 50%);

  transition: all .3s linear;

  background: #fff;
}

.info.active
{
  overflow: hidden;

  height: auto;
  max-height: 700px;
  margin-top: -8px;

  transition: all .3s linear;

  border-top: 1px solid rgba(51, 51, 51, .60);
  border-bottom: 1px solid rgba(51, 51, 51, .60);
}

.info-wrapper
{
  width: 100vw;
  margin: 0 auto;
}

.pointer
{
  height: 0;
}

.pointer.active
{
  width: 15px;
  height: 15px;
  margin: 0 auto;
  margin-top: 15px;

  transform: rotate(45deg);
  transition-delay: .15s;

  border-top: 1px solid #333;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #333;
  border-radius: 2px;
  background: #fff;
}

#movie-search
{
  width: 100%;
}

#poster
{
  width: 175px;
  height: 262.5px;
  border-radius: 4px;
  margin-top: 3px;
}

#poster:hover
{
  box-shadow: 0 0 7px #f00;
}

#year
{
  margin: 0;
}

#genre
{
  margin: 0;
}

#search-boxes
{
  position: fixed;
  z-index: 4;
  top: 50px;

  width: 100vw;
  margin-left: calc((100vw - 1386px)/-2);
  padding: 1.5em 5em;

  background: rgba(234, 234, 234, .97);
}

#search-wrapper
{
  width: 1386px;
  margin: 0 auto;
}

#filter-input
{
  margin-left: 25px;
}

#add
{
  margin-right: 25px;
}

#search
{
  display: none;

  height: 34px;
  margin-right: 25px;
}

.movie-preview {
  margin-right: 1em;
}

.movie-preview-title {
  float: right;
}

.preview-wrapper
{
  position: relative;
  width: 1386px;
}

#preview {
  position: relative;
  top: 50px;

  display: none;
  justify-content: space-between;

  height: 350px;
  margin-bottom: 30px;
  overflow: auto;
}

#preview > :last-child
{
  margin-right: 0;
  padding-right: 3px;
}

#dismiss
{
  position: absolute;
  right: -50px;
  top: 87px;
  z-index: 3;
  display: none;

  text-align: center;
}

#dismiss .glyphicon
{
  opacity: .2;
  color: #000;
}

#dismiss .glyphicon:hover
{
  opacity: .5;
  color: #000;
}

.checkbox .edit-hd, .checkbox .edit-isnew
{
  font-weight: 700;
}

.chebox.hd, .checkbox.isnew
{
  padding-top: 0;
}

.form-horizontal .checkbox.hd, .form-horizontal .checkbox.isnew
{
  min-height: 0;
  padding-top: 0;
}

.movie-edit
{
  height: 30px;
  width: 30px;
  float: right;
  background: #d9534f;
  border-radius: 50%;
  margin-bottom: -10px;
}

.movie-edit .glyphicon
{
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin-right: 0;
  top: 15%;
  left: 11%;
}

a.movie-edit:hover, a.movie-edit:focus
{
  text-decoration: none;
}

a.movie-edit:hover
{
  background: #c9302c;
}

#scroll-left, #scroll-right
{
  position: absolute;
  top: 53px;
  height: 263px;
  background: rgba(0,0,0,.4);
  display: none;
}

#scroll-left:hover, #scroll-right:hover
{
  cursor: pointer;
}

#scroll-left .glyphicon, #scroll-right .glyphicon
{
  font-size: 50px;
  line-height: 5em;
  color: rgba(255,255,255,.8);
}

#scroll-left
{
  left: 0;
}

#scroll-right
{
  right: 0;
}

#preview h3
{
  text-align: center;
}

.loader {
  color: #ff0000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#create-movie textarea
{
  display: none;
}

#search-year
{
  top: -34px;
  right: -180px;

  display: none;

  width: 81px;
}

.index-preview
{
  width: 174px;
  margin-right: 2em;
  position: relative;
}

.index-preview:nth-child(7n)
{
  margin-right: 0;
}

.index-preview img
{
  width: 174px;
  height: 261px;
  margin-top: 20px;

  transition: all .3s ease-in-out;

  border-radius: 4px;
}

.index-preview img.active
{
  position: relative;
  z-index: 2;

  width: 194px;
  height: 291px;
  margin-top: 15px;
  margin-left: -10px;

  transition: all .3s ease-in-out;

  box-shadow: 0 15px 25px #4f4f4f;
}

.new-label
{
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 0;

  transition: all .3s ease-in-out;

  background: linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(201,48,44,.9) 50%);
  border-top-right-radius: 4px;
}

.new-text
{
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: 6px;
  font-weight: 700;
  text-align: center;
  color: #fff;

  transition: all .3s ease-in-out;
}

.new-label.active
{
  top: 15px;
  right: -10px;
  width: 70px;
  height: 70px;

  transition: all .3s ease-in-out;
}

.new-text.active
{
  font-size: 16px;

  transition: all .3s ease-in-out;
}

.notransition
{
  transition: none !important;
}

.top-preview img
{
  width: 100px;
  height: 150px;
  margin-bottom: 55px;

  border-radius: 3px;
}

.truncate, .preview-truncate
{
  overflow: hidden;

  width: 174px;
  margin: 0 auto;
  margin-top: 2px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.preview-truncate
{
  margin: 2px 0 -3px;
}

.sort-name
{
  display: none;
}

.description
{
  display: none;
}

#movie-list
{
  display: flex;

  margin-top: 80px;
  margin-bottom: 55px;

  flex-wrap: wrap;
}

.index-user h4
{
  margin-bottom: 3px;

  color: #d9534f;
}

a.index-user:hover,
.index-user h4:hover
{
  text-decoration: none;

  color: #b9433b;
}

.library
{
  width: 100%;
  display: flex;
  justify-content: center;
}

#library
{
  padding: 7px 13px;
  margin-right: 5px;

  color: #333;
}

#library:hover
{
  text-decoration: none;
  background: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.01);
  padding: 6px 12px;
  border-radius: 4px;
}

#library:focus
{
  text-decoration: none;
}

#unwatched
{
  padding: 7px 13px;
  margin-left: 5px;

  color: #333;
}

#unwatched:hover
{
  text-decoration: none;
  background: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.01);
  padding: 6px 12px;
  border-radius: 4px;
}

#unwatched:focus
{
  color: #f3f3f3;
  text-decoration: none;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
}

#unwatched.active
{
  padding: 6px 12px;
  color: #f3f3f3;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  cursor: default;
}
