body
{
  width: 1369.2px;
  margin: 0 auto;
  padding-top: 70px;

  color: #f3f3f3;
  background: #2b2b2b;

  -webkit-font-smoothing: antialiased;
}

#main-logo
{
  margin-top: -200px;
  margin-bottom: -200px;
}
