img
{
    -webkit-transform: translate3d(0, 0, 0);
}

.info
{
    overflow: hidden;

    width: 100vw;
    max-height: 0;
    margin-top: -16px;
    margin-right: calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);

    transition: all .3s linear;

    background: #222;
}

.info.active
{
    overflow: hidden;

    height: auto;
    max-height: 750px;
    margin-top: 20px;

    transition: all .3s linear;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.info-wrapper
{
    width: 100vw;
    margin: 0 auto;
}

#info-header
{
    margin-top: 20px;
}

#info-header > .show-edit
{
    margin-top: 25px;
}

.description-poster > #counts
{
    font-size: .9em;;

    margin-top: 10px;

    color: rgba(243,243,243,.7);
}

#info-header > .description-poster img
{
    width: 447px;

    border: rgba(243,243,243,.1) 1px solid;
    background: none;
}

.series-info
{
    margin-left: 5px;
}

.series-info h1
{
    font-size: 30px;
    font-weight: 700;

    margin-top: 5px;
}

.series-info #series-count
{
    margin-top: -8px;
    margin-bottom: -3px;
    color: rgba(243,243,243,.7);
}

.series-info .spacing
{
    margin-right: 5px;
    color:rgba(243,243,243,.7);
}

.series-info #description-rating
{
    font-family: inherit;
    font-weight: bolder;
    padding: 0 3px;
    border: 2px solid rgba(243,243,243,.7);
    border-radius: 3px;
}

.series-info #description-hd
{
    background: rgba(243,243,243,.7);
    color: #333;
    padding: 0 3px 1px;
    border-radius: 3px;
    font-weight: bolder;
    position: relative;
    top: 0;
}

.tv-episode
{
    color: rgba(243,243,243,.7);
    font-size: .8em;
    font-weight: 500;
    margin: 10px 0 0;
}

.episode-title
{
    margin: 3px 0;
    font-weight: 500;
    font-size: .9em;
}

.episode-runtime
{
    text-align: right;
    font-size: .9em;
    margin-top: -20px;
    margin-bottom: 0;
    margin-right: -40px;
    color: rgba(243,243,243,.7);
}

.aired
{
    margin-left: 20px;
}

.plot-truncate
{
    color: rgba(243,243,243,.7);
    font-size: .9em;
    overflow: hidden;

    margin: 0 auto;

    white-space: nowrap;
    text-overflow: ellipsis;

    transition: all .4s ease-in-out;
}

.plot-truncate.active
{
    white-space: pre-wrap;
    text-overflow: unset;
    overflow: auto;
    transition: all .4s ease-in-out;
}

.episode-list > div
{
    padding-left: 5px;
}

.expand-plot
{
    font-size: .95em;
    text-align: right;
    margin-right: -40px;
    margin-top: -18px;
    margin-bottom: 0;
    color: #d9534f;
}

.expand-plot:hover
{
    cursor: default;
    color: #f3f3f3;
}

.episode-list hr
{
    margin-left: 5px;
    margin-top: 15px !important;
    margin-bottom: 5px;
}

#season-selector
{
    color: rgba(243,243,243,.7);
    font-size: .9em;
    margin-left: 5px;
}

#season-selector hr
{
    margin-bottom: 8px;
}

#season-default
{
    display: inline-block;
}

.season-plot
{
    margin: 15px 0;
}

.season-submit:hover
{
    cursor: default;
}

.season-submit:focus
{
    border: none;
    background: rgba(243,243,243,.7);
    color: #fff;
    border-radius: 4px;
}

.season-submit
{
    border: none;
    background: none;
    color: rgba(243,243,243,.7);
    padding: 3px 10px;
    display: inline-block;
}

.season-submit#active-season
{
    border: none;
    background: #d9534f;
    color: #fff;
    border-radius: 4px;
}

.episode-description:last-of-type
{
    margin-bottom: 50px;
}

.pointer,
.show-pointer
{
    height: 0;
}

.pointer.active,
.show-pointer.active
{
    width: 15px;
    height: 15px;
    margin: 0 auto;
    margin-top: 15px;

    transition-delay: .15s;
    transform: rotate(45deg);

    border-top: 1px solid #000;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    border-left: 1px solid #000;
    border-radius: 2px;
    background: #222;
}

.show-pointer.active
{
    margin-bottom: -9px;
}

#movie-search
{
    width: 100%;
}

#poster
{
    width: 175px;
    height: 262.5px;
    margin-top: 3px;

    border-radius: 4px;
}

#poster:hover
{
    box-shadow: 0 0 7px #f00;
}

#show-poster
{
    width: 200px;
    height: 200px;
    margin-top: 3px;

    border-radius: 4px;
}

#show-poster:hover
{
    box-shadow: 0 0 7px #f00;
}

#year
{
    margin: 0;
}

#genre
{
    margin: 0;
}

#search-boxes
{
    position: fixed;
    z-index: 4;
    top: 50px;

    width: 100vw;
    margin-left: calc((100vw - 1386px)/-2);
    padding: 1.5em 5em;

    background: rgba(44, 44, 44, .97);
}

#search-wrapper
{
    width: 1386px;
    margin: 0 auto;
}

#filter-input
{
    margin-left: 25px;
}

#add,
#add-show,
#switch
{
    margin-right: 25px;
}

#switch .glyphicon
{
    margin-right: 5px;
}

#search
{
    display: none;

    height: 34px;
    margin-right: 25px;
}

.movie-preview
{
    margin-right: 2em;
}

.movie-preview-title
{
    float: right;
}

.show-preview
{
    margin-right: 1em;
}

.show-preview-title
{
    float: right;
}

.preview-wrapper
{
    position: relative;

    width: 1386px;
}

#preview
{
    position: relative;
    top: 50px;

    display: none;
    overflow: auto;

    height: 350px;
    margin-bottom: 30px;

    justify-content: space-between;
}

#preview > :last-child
{
    margin-right: 0;
    padding-right: 3px;
}

#dismiss
{
    position: absolute;
    z-index: 3;
    top: 87px;
    right: -50px;

    display: none;

    text-align: center;
}

#dismiss .glyphicon
{
    opacity: 1;
    color: #d9534f;
}

#dismiss .glyphicon:hover
{
    opacity: 1;
    color: #f00;
}

#profile-wrapper
{
    display: none;
}

#profile-wrapper.active
{
    display: block;

    width: 100vw;
    height: 301px;
    margin-top: 110px;
    margin-right: calc(-50vw + 50%);
    margin-bottom: -75px;
    margin-left: calc(-50vw + 50%);
}

#profile-header
{
    display: flex;

    padding-top: 20px;

    justify-content: center;
    align-items: center;
}

#profile-image
{
    width: 174px;
    height: 261px;
    margin-right: 25px;

    border-radius: 4px;
    background-size: 100%;
}

#profile-name
{
    font-size: 4em;
    font-weight: 900;

    color: #f3f3f3;
}

.checkbox .edit-hd,
.checkbox .edit-isnew
{
    font-weight: 700;
}

.chebox.hd
{
    padding-top: 0;
}

.form-horizontal .checkbox.hd
{
    min-height: 0;
    margin-top: -3px;
    padding-top: 0;
}

.movie-edit,
.show-edit
{
    float: right;

    width: 30px;
    height: 30px;
    margin-bottom: -10px;

    border-radius: 50%;
    background: #d9534f;
}

.movie-edit .glyphicon,
.show-edit .glyphicon
{
    font-size: 1.5em;

    top: 15%;
    left: 11%;

    margin-right: 0;

    text-align: center;

    color: #222;
}

a.movie-edit:hover,
a.movie-edit:focus
{
    text-decoration: none;
}

a.movie-edit:hover
{
    background: #c9302c;
}

#scroll-left,
#scroll-right
{
    position: absolute;
    top: 53px;

    display: none;

    height: 263px;

    background: rgba(0,0,0,.4);
}

#scroll-left:hover,
#scroll-right:hover
{
    cursor: pointer;
}

#scroll-left .glyphicon,
#scroll-right .glyphicon
{
    font-size: 50px;
    line-height: 5em;

    color: rgba(255,255,255,.8);
}

#scroll-left
{
    left: 0;
}

#scroll-right
{
    right: 0;
}

#preview h3
{
    text-align: center;
}

.loader
{
    font-size: 90px;

    position: relative;

    overflow: hidden;

    width: 1em;
    height: 1em;
    margin: 72px auto;

    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
            animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    text-indent: -9999em;

    color: #f00;
    border-radius: 50%;
}
@-webkit-keyframes load6
{
    0%
    {
        box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em;
    }
    5%,
    95%
    {
        box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em;
    }
    10%,
    59%
    {
        box-shadow: 0 -.83em 0 -.4em, -.087em -.825em 0 -.42em, -.173em -.812em 0 -.44em, -.256em -.789em 0 -.46em, -.297em -.775em 0 -.477em;
    }
    20%
    {
        box-shadow: 0 -.83em 0 -.4em, -.338em -.758em 0 -.42em, -.555em -.617em 0 -.44em, -.671em -.488em 0 -.46em, -.749em -.34em 0 -.477em;
    }
    38%
    {
        box-shadow: 0 -.83em 0 -.4em, -.377em -.74em 0 -.42em, -.645em -.522em 0 -.44em, -.775em -.297em 0 -.46em, -.82em -.09em 0 -.477em;
    }
    100%
    {
        box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em;
    }
}
@keyframes load6
{
    0%
    {
        box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em;
    }
    5%,
    95%
    {
        box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em;
    }
    10%,
    59%
    {
        box-shadow: 0 -.83em 0 -.4em, -.087em -.825em 0 -.42em, -.173em -.812em 0 -.44em, -.256em -.789em 0 -.46em, -.297em -.775em 0 -.477em;
    }
    20%
    {
        box-shadow: 0 -.83em 0 -.4em, -.338em -.758em 0 -.42em, -.555em -.617em 0 -.44em, -.671em -.488em 0 -.46em, -.749em -.34em 0 -.477em;
    }
    38%
    {
        box-shadow: 0 -.83em 0 -.4em, -.377em -.74em 0 -.42em, -.645em -.522em 0 -.44em, -.775em -.297em 0 -.46em, -.82em -.09em 0 -.477em;
    }
    100%
    {
        box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em;
    }
}
@-webkit-keyframes round
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes round
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

#create-movie textarea
{
    display: none;
}

#search-year
{
    top: -34px;
    right: -180px;

    display: none;

    width: 81px;
}

.movie-modal
{
    height: 261px;
}

.index-preview
{
    position: relative;

    width: 174px;
    height: 303px;
    margin-right: 2em;
}

.index-preview:nth-child(7n)
{
    margin-right: 0;
}

.index-preview img
{
    width: 174px;
    height: 261px;
    margin-top: 20px;

    transition: all .3s ease-in-out;

    border-radius: 4px;
    background-color: #080808;
}

.index-preview img.active
{
    position: relative;
    z-index: 2;

    width: 194px;
    height: 291px;
    margin-top: 10px;
    margin-left: -10px;

    transition: all .3s ease-in-out;

    box-shadow: 0 15px 25px #000;
}

.index-preview-show
{
    position: relative;

    width: 213px;
    height: auto;
    margin-right: 1.53em;
}

.index-preview-show:nth-child(6n)
{
    margin-right: 0;
}

.index-preview-show img
{
    width: 213px;
    height: auto;
    margin-top: 20px;

    transition: all .3s ease-in-out;

    border-radius: 4px;
    background-color: #080808;
}

#episode-video
{
    height: 169px;
    margin-right: 1.5em;
    padding: 0;

    border: none;
    background: rgba(0,0,0,.4);;
}

#episode-video img
{
    height: 169px;
}

.episode-preview
{
    height: 300px;
    margin-right: 1.5em;
}

.episode-preview:last-of-type
{
    margin-right: 0;
}

#create-episode
{
    width: 300px;
}

.add-all
{
    height: 168.812px;
    width: 300px;
    border: none;
    background-color: rgba(0,0,0,.4);
}

.add-all .glyphicon
{
    margin-right: 0;
    font-size: 3em;
    color: rgba(255,255,255,.8);
}

.add-all p
{
    color: rgba(255,255,255,.8);
    font-size: 1.2em;
}

.new-label
{
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 0;

    width: 60px;
    height: 60px;

    transition: all .3s ease-in-out;

    border-top-right-radius: 4px;
    background: linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(201,48,44,.9) 50%);
}

.new-text
{
    font-weight: 700;

    position: absolute;
    top: 10px;
    right: 6px;

    transition: all .3s ease-in-out;
    transform: rotate(45deg);
    text-align: center;

    color: #fff;
}

.new-label.active
{
    top: 10px;
    right: -10px;

    width: 70px;
    height: 70px;

    transition: all .3s ease-in-out;
}

.new-text.active
{
    font-size: 16px;

    transition: all .3s ease-in-out;
}

.notransition
{
    transition: none !important;
}

.top-preview img
{
    width: 100px;
    height: 150px;
    margin-bottom: 55px;

    border-radius: 3px;
}

.truncate,
.preview-truncate
{
    overflow: hidden;

    width: 174px;
    margin: 0 auto;
    margin-top: 2px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.episode-truncate
{
    overflow: hidden;

    width: 300px;
    margin: 2px 0 -3px;
    margin-top: 2px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.show-truncate
{
    overflow: hidden;

    width: 174px;
    margin: 0 auto;
    margin-top: 2px;
    margin-left: 0;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.season
{
    font-size: .9em;

    text-align: left;

    color: rgba(243,243,243,.7);
}

.preview-truncate
{
    margin: 2px 0 -3px;
}

.sort-name
{
    display: none;
}

.description
{
    display: none;
}

#movie-list,
#show-list
{
    display: flex;

    margin-top: 80px;
    margin-bottom: 55px;

    flex-wrap: wrap;
}

.index-user h4
{
    margin-bottom: 3px;

    color: #d9534f;
}

a.index-user:hover,
.index-user h4:hover
{
    text-decoration: none;

    color: #b9433b;
}

.library
{
    display: flex;

    width: 100%;

    justify-content: center;
}

#library
{
    margin-right: 5px;
    padding: 7px 13px;

    color: #f3f3f3;
}

#library:hover
{
    padding: 6px 12px;

    text-decoration: none;

    border: 1px solid rgba(255,255,255,.01);
    border-radius: 4px;
    background: rgba(255,255,255,.1);
}

#library:focus
{
    text-decoration: none;
}

#unwatched
{
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 13px;

    color: #f3f3f3;
}

#unwatched:hover
{
    padding: 6px 12px;

    text-decoration: none;

    border: 1px solid rgba(255,255,255,.01);
    border-radius: 4px;
    background: rgba(255,255,255,.1);
}

#unwatched:focus
{
    text-decoration: none;

    border: 1px solid #d43f3a;
    border-radius: 4px;
    background-color: #d9534f;
}

#unwatched.active
{
    padding: 6px 12px;

    cursor: default;

    border: 1px solid #d43f3a;
    border-radius: 4px;
    background-color: #d9534f;
}

#four-k
{
    margin-left: 5px;
    padding: 7px 13px;

    color: #f3f3f3;
}

#four-k:hover
{
    padding: 6px 12px;

    text-decoration: none;

    border: 1px solid rgba(255,255,255,.01);
    border-radius: 4px;
    background: rgba(255,255,255,.1);
}

#four-k:focus
{
    text-decoration: none;

    border: 1px solid #d43f3a;
    border-radius: 4px;
    background-color: #d9534f;
}

#four-k.active
{
    padding: 6px 12px;

    cursor: default;

    border: 1px solid #d43f3a;
    border-radius: 4px;
    background-color: #d9534f;
}
