<div id="search-boxes">
  <div id="search-wrapper">
    <% if session[:user_id] == @user.id %>
      <button id="add-show" class="btn btn-danger pull-right">Add TV Show</button>
    <% end %>
    <div id="search" class="pull-right">
      <%= erb :'/partials/_add_show', layout: false %>
    </div>
    <div class="preview-wrapper">
      <div class="col-lg-12" id="preview"></div>
      <a class="pull-right" id="dismiss" href="#"><span class="glyphicon glyphicon-remove"></span></a>
      <div id="scroll-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
      <div id="scroll-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
    </div>
  </div>
</div>
<div class="row">
  <div id="profile-wrapper">
    <div id="profile-header">
      <img id="profile-image" src=""/>
      <h1 id="profile-name"></h1>
    </div>
  </div>
  <div id="show-list" class="col-xs-12">
    <% @my_shows.each do |show| %>
      <%= erb :'/partials/_my_shows', locals: {show: show, user: @user}, layout: false %>
    <% end %>
  </div>
</div>
