<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    loads bootstrap
  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if session[:user_id] %>
          <a class="pull-left logo" href=<%= "/users/#{session[:user_id]}" %>><img src="http://mmdb.online/imgs/logo.png" alt="MMDb logo"></a>
        <% else %>
          <a class="pull-left logo" href="/users"><img src="http://mmdb.online/imgs/logo.png" alt="MMDb logo"></a>
        <% end %>
      </div>
      <% if session[:user_id] %>
        <div class="navbar-right">
          <p class="navbar-text"><%= "Signed in as #{session[:name]}" %></p>
          <form id="sign-in" class="navbar-form navbar-right" action="/sessions/logout" method="POST">
            <button type="submit" class="btn btn-default">Sign out</button>
          </form>
        </div>
      <% else %>
        <div id="sign-in" class="navbar-right">
          <button type="button" class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#logIn">Sign in</button>
        </div>
      <% end %>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  <div class="modal fade" id="logIn" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sign in!</h4>
        </div>
        <div class="modal-body">
          <p class="login-errors text-center">Invalid login. Please check your credentials and try again.</p>
          <form id="sign-in-form" action='/sessions' method="POST">
            <div class="form-group">
              <label for="username_email">User Name or Email:</label>
              <input class="form-control" type="text" name="username_email" placeholder="User Name or Email" value="" autofocus="">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input class="form-control" type="password" name="password" placeholder="Password" value="">
            </div>
            <div class="modal-footer">
              <button id="sign-in-submit" type="submit" class="btn btn-danger">Sign in</button>
              <p class="text-center">Not a registered user? Please register <a class="register" href="/users/new">here</a>.</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="movie" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content movie-content">

      </div>
    </div>
  </div>

  <script src="/js/mmdb.js"></script>
</body>
</html>
